.amiibos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
}

.amiibos__figure {
  img {
    $x: 200px;
    width: $x;
    height: $x;
    object-fit: contain;
  }
}

.amiibos__link {
  color: white;
  text-decoration: none;
}
