.c-animes-gallery{
    &__figure{
        border: 4px solid #FFFFFF;
        position: relative;
        margin-bottom: 32px
    }
    &__title{
         position: absolute;
         width: 100%;
         padding: 16px;
         bottom: 0;
         left:0;
         background-color: #FFFFFFb3;
         color: #333333;
         font-weight: bold;
         display: flex;
         align-items: center;
         justify-content: center;
    }
}