@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?fu477y') format('truetype'),
    url('fonts/icomoon.woff?fu477y') format('woff'),
    url('fonts/icomoon.svg?fu477y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ninja-portrait:before {
  content: "\e900";
}
.icon-sunset-fuji-mountain:before {
  content: "\e901";
}
.icon-japanese-flower:before {
  content: "\e902";
}
.icon-japanese-shuriken:before {
  content: "\e903";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
