@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fu477y') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fu477y') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fu477y##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ninja-portrait {
  &:before {
    content: $icon-ninja-portrait; 
  }
}
.icon-sunset-fuji-mountain {
  &:before {
    content: $icon-sunset-fuji-mountain; 
  }
}
.icon-japanese-flower {
  &:before {
    content: $icon-japanese-flower; 
  }
}
.icon-japanese-shuriken {
  &:before {
    content: $icon-japanese-shuriken; 
  }
}
.icon-droplet {
  &:before {
    content: $icon-droplet; 
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones; 
  }
}
.icon-pacman {
  &:before {
    content: $icon-pacman; 
  }
}
.icon-spades {
  &:before {
    content: $icon-spades; 
  }
}
.icon-clubs {
  &:before {
    content: $icon-clubs; 
  }
}
.icon-diamonds {
  &:before {
    content: $icon-diamonds; 
  }
}

