$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-ninja-portrait: "\e900";
$icon-sunset-fuji-mountain: "\e901";
$icon-japanese-flower: "\e902";
$icon-japanese-shuriken: "\e903";
$icon-droplet: "\e90b";
$icon-headphones: "\e910";
$icon-pacman: "\e916";
$icon-spades: "\e917";
$icon-clubs: "\e918";
$icon-diamonds: "\e919";

