:root {
  --gold1: #f4bd76;
  --gold2: #f6cd8f;
  --gray: #ffffff80;
  --gray2: #f7d9d990;
  --black1: #1a1b1f;
  --black2: #30353b;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}


/* Main Header */
header.main-header {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  height: 100vh;
  min-width: 100%;
  color: white;
}


/* Secondary Header */
header div.secondary-header {
  border-bottom: 1px solid gray;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px 0 100px;
}


/* Hero Hedaer */
#hero {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

header section#hero div {
  width: 45%;
}

.hero-img img {
  width: 90%;
}


/* Nav Bar styles */
nav.menu {
  height: 100%;
}

nav.menu ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  height: 100%;
}

nav.menu ul li {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav.menu ul li:hover {
  color: var(--gold1);
  background-color: var(--black1);
}

nav.menu ul a {
  color: inherit;
  text-align: center;
  text-decoration: none;
  height: 100%;
}


/* Main Stuling */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content {
  width: 90%;
}

.article-content {
  display: flex;
  justify-content: space-between;
}


/* Card Boards */
.card-board {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  width: 30%;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-board img {
  border-radius: 10px 0 0 10px;
  height: 200px;
  object-fit: cover;
  width: 95%;
  align-self: flex-end;
  margin-top: 25px;
  background-color: red;
}

/* Text Styling */
span {
  color: var(--gold1);
  font-weight: 700;
}

button {
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
  padding: 15px 20px;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
}

button:focus {
  outline:0;
}

.hero-title {
  font-weight: 300;
  font-size: 3em;
}


/* Assets Styling */
img {
  max-width: 100%;
}
