:root {
  --headerH: 50px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: var(--headerH);
  background-color: rgb(50, 50, 50);
}

.navbar {
  margin: 0 200px;
  display: flex;
  justify-content: center;
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  font-size: 13px;
  color: rgb(220, 220, 220);
}

.navbar img {
  height: 50px;
  width: 50px;
}

.innerBody {
  margin-top: var(--headerH);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  color: rgb(29, 29, 31);
}

footer {
  min-height: 100px;
  margin-top: 10px;
  background-color: rgb(245, 245, 247);
}

.innerFooter {
  margin: 20px 200px;
  color: rgb(81, 81, 84);
  font-size: 12px;
}

.innerFooter span {
  margin: 0 10px;
  color: rgb(150, 150, 150);
}

.innerFooter a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

/* ------------------------------------------------- */

.upperOffer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.red {
  color: crimson;
  margin: 3px;
}

.blue {
  color: rgb(0, 113, 227);
}

.upperOffer h1 {
  font-size: 55px;
  margin: 0;
}

.upperOffer h4 {
  font-size: 18px;
  margin: 5px;
}

.upperOffer a {
  margin: 5px;
  text-decoration: none;
}

.upperOffer img {
  margin: 40px auto;
  width: 900px;
}

.blueButton {
  background-color: rgb(0, 113, 227);
  color: white;
  padding: 8px 15px;
  border-radius: 100px;
}

/* ------------------------------------------------- */

.middleOffer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.middleOfferDiv {
  position: relative;
  background-color: rgb(242, 242, 242);
  --w: 450px;
  width: var(--w);
  height: calc(1.1 * var(--w));
  margin: 0 25px;
  padding-top: 25px;
  text-align: center;
}

.middleOffer h2 {
  font-size: 28px;
  margin: 0 auto;
}

.middleOffer p {
  font-size: 12px;
  margin: 15px 70px 0 70px;
}

.middleOffer a {
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  margin: 15px;
}

.middleOfferImgDiv {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleOfferImgDiv img {
  height: 210px;
}

/* ------------------------------------------------- */

.bottomOffer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
}

.bottomOffer img {
  --x: 45px;
  height: var(--x);
  width: var(--x);
}

.bottomOffer h5 {
  margin: 6px;
}

.bottomOffer p {
  margin: 3px;
  font-size: 14px;
}

.bottomOffer a {
  text-decoration: none;
  font-size: 14px;
  margin-top: 3px;
}

/* ------------------------------------------------- */
