.g-primereact-paginator{
    &.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
        background: aquamarine;
        border-color: aquamarine;
    }
    &--blue-fantasy{
        &.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
            background: rgb(19, 201, 233);
            border-color: rgb(19, 201, 233);
        }
    }
}