{% extends "base.html.twig" %} 

{% block body %} 
  <form action="/procesarFormulario" method="POST">
    <label>
      <p>Nombre:</p>
      <input type="text" name="nombre">
    </label>
    <br>
    <label>
      <p>Apellidos:</p>
      <input type="text" name="apellidos">
    </label>
    <br>
    <input type="submit" value="Enviar">
  </form>
{% endblock %}
