.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.uno {
    background-color: blue;
}

.dos {
    position: absolute;
    top: 35px;
    left: 35px;
    background-color: rgba(115,34,23, 0.7);
    z-index: 10;
}

.tres {
    background-color: violet;
    position: relative;  
    z-index: 100;
}

.abs1 {
    position: absolute;
    top: 0;
    left: 0;
}

.abs2 {
    position: absolute;
    top: 0;
    left: 30px;
}