body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import 'assets/fonts/icons/variables.scss';
@import 'assets/fonts/icons/style.scss';

@import '~primereact/resources/themes/nova/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';

@import '~bootstrap/scss/bootstrap-grid';

@import '~swiper/swiper-bundle.css';

@import 'styles/generic/primereact-paginator.generic';
@import 'styles/generic/swiper.generic';
@import 'styles/elements/img.elements';
@import 'styles/elements/figure.elements';
@import 'styles/blocks/icon.blocks';

