* {
    box-sizing: border-box;
}

body {
    background: 
        linear-gradient(120deg, rgba(0,0,0,0), rgba(0,0,0,0.6)), 
        linear-gradient(to right, mediumturquoise, powderblue, aqua);
    padding: 0;
    margin:  0;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    color: rgb(50,50,50);
}

.body {
    background-image: url("./assets/mosaicPajarita.svg");
    background-repeat: repeat;
    background-size: 49px 85px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------------ */


.bigContainer {
    background-color: white;
    margin-top: 60px;
    padding: 40px;
    width: 800px;
    border: 3px solid rgb(50,50,50);
    border-radius: 15px;
    box-shadow: 3px 3px 2px 3px rgba(0,0,0,0.4);
}


.personal {
    display: flex;
    align-items: center;
}

.myPhoto {
    border: 2px solid rgb(50,50,50);
    border-radius: 1000px;
    --x: 200px;
    height: var(--x);
    width:  var(--x);
    margin-right: 50px;
}

.personalInfo {
    font-size: 13px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.personalInfo img {
    --x: 20px;
    width:  var(--x);
    height: var(--x);
    margin-right: 15px;
}

/* ------------------------------------------------------------ */

.sectionHeader {
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: tomato;
    font-size: 15px;
    border-bottom: 1px solid rgb(100,100,100);
}

.studySection {
    display: flex;
    margin-top: 40px;
}

.studySection img {
    --x: 50px;
    height: var(--x);
    width:  var(--x);
    margin-right: 35px;
}

.studyInfo {
    flex-grow: 1;
}

.studyInfo div {
    display: flex;
    align-items: center;
    width: 100%;
}

.studyInfo h4 {
    flex-grow: 1;
    margin: 0;
}

.studyInfo span {
    font-size: 11px;
}

.studyInfo p {
    font-size: 12px;
}

/* ------------------------------------------------------------ */

.workSection {
    margin-top: 40px;
}

.workSection div {
    display: flex;
}

.workSection h4 {
    flex-grow: 1;
    margin: 0;
}

.workSection span {
    font-size: 11px;
}

.workSection em {
    font-size: 12px;
    font-style: normal;
}

.workSection p {
    margin: 12px 0 0 0;
    font-size: 14px;
    color: rgb(120,120,120);
}

/* ------------------------------------------------------------ */

.bottom {
    display: flex;
}

.bottomDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

.bottomDivCenter {
    margin: 0 50px;
}

.skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.skills img {
    --x: 18px;
    height: var(--x);
    width:  var(--x);
    margin-right: 10px;
}

.skills span {
    flex-grow: 1;
}

.skills em {
    font-style: normal;
    cursor: default;
}

.lowSkill {
    color: red;
}

.mediumSkill {
    color: orange;
}

.highSkill {
    color: green;
}


.langs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.langs li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.langs img {
    border-radius: 200px;
    --x: 25px;
    height: var(--x);
    width:  var(--x);
    margin-right: 15px;
}

.langs p {
    margin: 3px 0 0 0;
    font-size: 10px;
}


.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.social img {
    --x: 25px;
    height: var(--x);
    width:  var(--x);
    margin-right: 15px;
}

.social a {
    text-decoration: none;
    color: rgb(50,50,50);
    width: 120px;
    display: flex;
    transition: all 0.5s ease;
}

.social a:hover {
    color: royalblue;
    width: 150px;
}

.social span {
    flex-grow: 1;
}


/* ------------------------------------------------------------ */

.callToAction {
    margin: 100px;
    padding: 30px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: limegreen;
    border: 5px solid limegreen;
    border-radius: 150px;
    background-color: white;
    transition: all 1s;
}

.callToAction:hover {
    color: white;
    background-color: limegreen;
    margin-top: 80px;
    margin-bottom: 120px;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.6);
}


footer {
    background-color: teal;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    font-size: 10px;
    color: white;
    width: 800px;
}

/* ------------------------------------------------------------ */