* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    background-color: black;
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.player-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 95%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 45%;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
}

.card img {
    flex-shrink: 0;
    max-width: 100%;
}

.player-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 10%;
    background-color: rgb(165, 165, 165);
    border-radius: 10px;
}

.controls {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 50%;
    height: 20%;
    background-color: white;
}

.time {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

p {
    display: inline-block;
}

.intro-play {
    position: absolute;
    height: 590px;
    width: 1150px;
    background-color: rgba(116, 116, 116, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-play:hover {
    cursor: pointer;
}

.play {
    font-size: 20em;
}