/* Mis estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: Verdana, sans-serif;
}

body {
  background-color: blanchedalmond;
}

header {
  background-color: teal;
  padding: 20px;
  color: white;
  text-align: center;
}

nav {
  background-color: aqua;
  padding: 16px 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  list-style: none;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: teal;
  color: white;
}

footer {
  background-color: teal;
  padding: 15px;
  color: white;
  text-align: center;
}

.contenedor {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

img {
  max-width: 100%;
}

.galeria img {
  height: 400px;
}

h1,
h2 {
  padding: 10px 0;
}

p {
  padding: 10px;
  text-align: justify;
}

main,
aside {
  padding: 20px;
  text-align: center;
  margin: 5px;
}

main {
  width: 60%;
}

aside {
  width: 40%;
}

#dolorem {
  color: red;
  font-size: 30px;
}

.rojo {
  color: red;
}

.verde {
  color: green;
}

.azul {
  color: blue;
}

button {
  background-color: teal;
  color: white;
  padding: 10px;
}

button:hover {
  background-color: aquamarine;
  color: black;
}

.botones {
  padding: 20px;
  text-align: center;
  margin: 20px;
}

#bloque-mover {
  margin: 25px 0;
  display: none;
}

@media screen and (max-width: 600px) {
  main,
  aside {
    width: 100%;
  }
  .contenedor,
  ul {
    flex-wrap: wrap;
  }

  nav ul li {
    width: 100%;
  }

  .botones button {
    font-size: 0px;
  }

  .botones #foto-anterior::after {
    font-size: 20px;
    content: "<-";
  }

  .botones #foto-proxima::after {
    font-size: 20px;
    content: "->";
  }

  #foto1,
  #foto2,
  #texto1,
  #texto2 {
    display: none;
  }

  #bloque-mover {
    display: block;
  }
}
