@import "./styles/settings/responsive";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  @include nonMobile_Landscape {
    background-color: silver;
  }
  @include nonMobile {
    background-color: silver;
  }
}

.phoneSimulation {
  width: 100vw;
  height: 100vh;
  background-color: white;
  @include nonMobile_Landscape {
    width: $breakH;
    height: $breakW;
    border: 5px solid black;
    border-radius: 30px;
  }
  @include nonMobile {
    width: $breakW;
    height: $breakH;
    border: 5px solid black;
    border-radius: 30px;
  }
}
