// Variables

$gold1: #f4bd76;
$gold2: #f6cd8f;
$gray1: #ffffff80;
$gray2: #f7d9d990;
$black1: #1a1b1f;
$black2: #30353b;
$white1: #f5f5f5;

$shadow: 0 8px 8px;
$color_shadow: #00000033;

$maxW: 120rem;
$pad: 3rem;
$marginY: 8rem;

$break1: 500px;
$break2: 700px;
$break3: 900px;

// Responsive

@mixin mobileVertical {
  @media only screen and (max-width: $break1) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $break2) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $break3) {
    @content;
  }
}

// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  @include tablet {
    font-size: 55%;
  }
  @include mobile {
    font-size: 45%;
  }
}

a {
  text-decoration: none;
}

// Global

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/img/mosaic.svg");
  background-size: 100px 100px;
}

h2 {
  color: black;
  font-size: 4.5rem;
  cursor: default;
  text-shadow: 0 0 0 black;
  transition: all 0.5s linear 0s;
  &:hover {
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
  }
  &::after {
    content: ".";
    font-size: 4.5rem;
    font-weight: boldest;
    color: $gold1;
  }
}

.stdButton {
  cursor: pointer;
  width: 100%;
  min-height: 5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-style: none;
  border-radius: 0.5rem;
  box-shadow: $shadow $color_shadow;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $black1;
  background: linear-gradient(180deg, $gold2 0%, $gold1 100%);
  align-self: center;
  animation: stdButton 3s linear 0s infinite alternate;
  &:hover {
    animation-play-state: paused;
  }
}

.rotateX {
  transform: rotateX(5 * 180deg);
}

// Mixins

@mixin darkBackground {
  background: linear-gradient(180deg, $black2 0%, $black1 100%);
}

@mixin goldBackground {
  background: linear-gradient(180deg, $gold2 0%, $gold1 100%);
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Animations

@keyframes landingImage {
  from {
    padding-top: 0px;
    padding-bottom: 15px;
  }
  to {
    padding-top: 15px;
    padding-bottom: 0px;
  }
}

@keyframes landingButton {
  0% {
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }
  20%,
  30% {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
  }
  45%,
  55% {
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }
  70%,
  80% {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
  }
  100% {
    padding-left: 25rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }
}

@keyframes stdButton {
  from {
    width: 70%;
    font-size: 1.5rem;
    border-radius: 50px;
  }
  to {
    width: 100%;
    font-size: 1.3rem;
    border-radius: 1px;
  }
}

@keyframes rollingBackground {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: -18000rem 50%;
  }
}
