.contact {
  max-width: 90rem;
  margin: $marginY $pad;
  @include flexCol;
  h2,
  h3 {
    text-align: center;
    margin-bottom: 2.5rem;
  }
  h3 {
    font-weight: normal;
    font-size: 2rem;
    color: $black2;
  }
}

.successBar {
  margin-bottom: 2.5rem;
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  > div {
    padding: 0 3.5rem;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      border: 2px solid black;
      border-top-style: none;
      border-bottom-style: none;
      @include mobile {
        border-style: none;
        margin: 15px 0;
      }
    }
  }
  img {
    $x: 4rem;
    height: $x;
    width: $x;
    margin-right: 1.5rem;
    filter: opacity(80%);
  }
  h6 {
    font-size: 1.7rem;
  }
  p {
    color: $black2;
  }
}

.signup {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  h5 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
  label {
    margin-bottom: 1.2rem;
    @include flexCol;
    align-items: stretch;
  }
  span {
    display: block;
    margin-bottom: 1.2rem;
    font-size: 0.9em;
    font-weight: 700;
  }
  p {
    margin-bottom: 2rem;
    font-size: 0.8em;
  }
  input {
    padding: 1.2rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    &:focus {
      background-color: rgb(240, 240, 240);
    }
  }
  [type="submit"] {
    cursor: pointer;
    font-weight: bold;
    color: white;
    @include darkBackground;
    &:hover {
      color: $gold1;
    }
  }
}
