.satisfiedCustomers {
  background-color: $white1;
  width: 100%;
  padding: $marginY $pad;
  @include flexCol;
  h2,
  h3 {
    width: 100%;
    max-width: $maxW;
    @include tablet {
      text-align: center;
    }
  }
  h3 {
    color: $black2;
    font-size: 2.2rem;
  }
  > div {
    width: 100%;
    max-width: $maxW;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      flex-direction: column;
    }
    > :nth-child(2) {
      margin: 0 6rem;
      @include tablet {
        margin: 4rem 0;
      }
    }
  }
}

*[class^="customer"] {
  @include darkBackground;
  width: 100%;
  height: 52rem;
  padding: 2.8rem 2rem;
  border-radius: 1rem;
  @include flexCol;
  justify-content: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet {
    width: 80%;
    min-height: 32rem;
  }
  > div {
    display: flex;
    align-items: center;
    padding: 1.8rem 1.2rem;
    border-radius: 1rem;
    @include darkBackground;
  }
  img {
    $x: 3.5rem;
    width: $x;
    height: $x;
    margin-right: 1.8rem;
  }
  h4 {
    color: white;
    font-size: 2.5rem;
  }
  p {
    color: $gray1;
    font-weight: bold;
  }
}

.customer1 {
  background-image: url("../../assets/img/first-person.jpg");
}

.customer2 {
  background-image: url("../../assets/img/second_person.jpg");
}

.customer3 {
  > img:first-child {
    width: 18.5rem;
    height: auto;
    margin: 1.5rem 0;
  }
  q {
    flex-grow: 1;
    color: rgb(220, 220, 220);
    font-size: 2rem;
  }
  div {
    background: transparent;
    img {
      border-radius: 50%;
      $x: 4.5rem;
      width: $x;
      height: $x;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}
