.footer {
  @include flexCol;
  width: 100%;
  background-color: $white1;
}

.innerFooter {
  width: 100%;
  max-width: $maxW;
  padding: $marginY $pad;
  display: flex;
  justify-content: space-between;
  color: $black2;
  @include mobile {
    flex-direction: column;
  }
  a {
    color: $black2;
    &:hover {
      color: $gold1;
      border-color: $gold1;
    }
  }
  h3 {
    margin-bottom: 3.5rem;
    color: black;
    font-size: 2.7rem;
  }
  p {
    margin-top: 1.5rem;
    font-size: 115%;
  }
}

.ourApp {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  @include mobile {
    margin-right: 0;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      width: 47%;
      min-height: 8rem;
      padding: 2rem 1.5rem;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: black;
      border: 1px solid black;
      border-radius: 1rem;
      i {
        font-size: 4.5rem;
        margin-right: 2rem;
      }
    }
  }
  a {
    margin-right: 1rem;
  }
}

.workWithUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  @include mobile {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  form {
    @include flexCol;
    width: 100%;
    input {
      width: 100%;
      padding: 1.2rem;
      border: 1px solid black;
      border-radius: 0.8rem;
      &[type="submit"] {
        @include darkBackground;
        color: white;
        font-weight: bold;
        margin-top: 3rem;
        padding: 1.5rem;
        cursor: pointer;
        transition: all 1s linear 0s;
        &:hover {
          color: $gold1;
        }
      }
    }
  }
  p {
    a {
      margin-left: 1.3rem;
      vertical-align: middle;
      i {
        padding: 2rem 0;
        transition: all 1s ease-out 0s;
      }
      &:hover i {
        padding: 0;
        font-size: 4rem;
        transform: rotate(3 * 360deg);
      }
    }
  }
}

.footerNav {
  width: 100%;
  display: flex;
  list-style-type: none;
  text-align: center;
  @include mobileVertical {
    flex-direction: column;
  }
  li {
    width: 100%;
    height: 17rem;
    @include flexCenter;
    @include darkBackground;
    @include mobileVertical {
      height: 8rem;
    }
  }
}

.footLink {
  height: 100%;
  width: 100%;
  @include flexCol;
  justify-content: center;
  color: white;
  h5 {
    font-size: 1.7rem;
  }
  i {
    color: $gold2;
  }
  &:hover {
    background-color: $gold2;
    color: $black2;
    i {
      color: $black2;
    }
  }
}

.footLinkSpecial {
  background-color: $gold2;
  color: $black2;
  $transitionData: all 0.5s linear 0s;
  transition: $transitionData;
  i {
    color: $black2;
  }
  h5 {
    transition: $transitionData;
  }
  &:hover {
    font-size: 2.2rem;
    h5 {
      font-size: 2.2rem;
    }
  }
}
