.upper {
  width: 100%;
  min-height: 100vh;
  @include darkBackground;
  @include flexCol;
}

.header {
  width: 100%;
  border-bottom: 1px solid dimgray;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100%;
  display: flex;
  img {
    width: 20rem;
  }
  @include tablet {
    margin-top: 2rem;
  }
}

.menu {
  max-width: $maxW;
  width: 100%;
  min-height: $marginY;
  margin: 0 $pad;
  display: flex;
  align-items: center;
  @include tablet {
    flex-direction: column;
  }
  ul {
    list-style-type: none;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    li {
      @include flexCenter;
    }
    a {
      color: white;
      width: 100%;
      height: 100%;
      padding: $pad;
      text-decoration: none;
      @include tablet {
        padding: 1.5rem;
      }
    }
    a:hover {
      color: $gold2;
    }
  }
}

// ----------------------------------------------------------------

.landing {
  height: 100%;
  margin: $pad;
  max-width: $maxW;
  padding-bottom: 5rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 5rem;
    font-weight: normal;
    span {
      font-weight: bold;
      color: $gold1;
    }
  }
  p {
    margin: 2rem 0;
    color: $gray1;
    font-size: 2rem;
    span {
      font-weight: bold;
    }
  }
  button {
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    border-style: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: $black2;
    @include goldBackground;
    box-shadow: $shadow $color_shadow;
  }
  img {
    width: 50rem;
    margin-left: 10rem;
    animation: landingImage 2s linear 0s infinite alternate;
    @include tablet {
      width: 30rem;
      margin-left: 0;
    }
  }
}

.animatedLandingBtn {
  text-align: left;
  animation: landingButton 3s linear 0s infinite alternate;
}
