.recentProjects {
  max-width: $maxW;
  width: 100%;
  padding: $marginY $pad;
  h3 {
    color: $black2;
    font-size: 2.22rem;
  }
  > div {
    display: flex;
    margin-top: 6rem;
    @include mobile {
      flex-direction: column;
      margin-top: 5rem;
    }
  }
}

.recentProjectDesc {
  @include darkBackground;
  display: flex;
  flex-direction: column;
  padding: 2.8rem 2rem;
  margin-right: 3rem;
  width: 38rem;
  border-radius: 1rem;
  @include mobile {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
  h2 {
    color: white;
  }
  h4 {
    color: $gold2;
    font-size: 1.8rem;
    margin: 1.8rem 0 1rem 0;
  }
  p {
    color: $gray2;
  }
}

div[class^="project"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  padding: 2.8rem 2rem;
  color: white;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  animation: rollingBackground 1000s linear 0s infinite;
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
    cursor: wait;
  }
  h4 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-weight: bold;
  }
}

.project1 {
  background-image: url("../../assets/img/background1.jpg");
}

.project2 {
  background-image: url("../../assets/img/background2.jpg");
  animation-direction: reverse !important;
}
