.services {
  background-color: $white1;
  width: 100%;
  padding: $marginY $pad;
  @include flexCol;
  h2,
  h3 {
    width: 100%;
    max-width: $maxW;
  }
  h3 {
    color: $black2;
    font-size: 2.2rem;
  }
}

.servicesContainer {
  max-width: $maxW;
  margin-top: 6rem;
  display: flex;
  @include tablet {
    flex-direction: column;
  }
  article {
    @include darkBackground;
    width: 100%;
    padding: 2.8rem 2rem;
    border-radius: 1rem;
    display: flex;
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      margin: 0 3rem;
      @include tablet {
        margin: 4rem 0;
      }
    }
  }
  img {
    width: 100%;
    height: 19rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  h4 {
    color: $gold2;
    font-size: 1.8rem;
    margin: 1.8rem 0 1rem 0;
  }
  h2 {
    color: white;
    margin-bottom: 0.5rem;
  }
  p {
    color: $gray2;
    flex-grow: 1;
  }
}
