* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --gold1: #f4bd76;
  --gold2: #f6cd8f;
  --gray1: #ffffff80;
  --gray2: #f7d9d990;
  --black1: #1a1b1f;
  --black2: #30353b;
  --white1: #f5f5f5;
  --shadow: 08px8px;
  --color_shadow: #00000033;
  --maxW: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  border-bottom: 1px solid dimgray;
  display: flex;
  justify-content: center;
}

nav.menu {
  max-width: var(--maxW);
  width: 100%;
  min-height: 70px;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
}

.logo img {
  width: 200px;
}

.menu ul {
  list-style-type: none;
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul a {
  color: white;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-decoration: none;
}

.menu ul a:hover {
  color: var(--gold2);
}

@media only screen and (max-width: 900px) {
  .menu {
    flex-direction: column;
  }
  .logo {
    margin-top: 20px;
  }
  .menu ul a {
    padding: 15px;
  }
}

/* -------------------------------------------------- */

.landing {
  height: 100%;
  margin: 30px;
  max-width: var(--maxW);
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.landing h1 span {
  font-weight: bold;
  color: var(--gold1);
}

.landing p {
  margin: 20px 0;
  color: var(--gray1);
  font-size: 20px;
}

.landing p span {
  font-weight: bold;
}

.landing button {
  cursor: pointer;
  padding: 18px 25px;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
  color: var(--black2);
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
  box-shadow: 0 8px 8px var(--color_shadow);
}

@keyframes landingImage {
  from {
    padding-top: 0px;
    padding-bottom: 15px;
  }
  to {
    padding-top: 15px;
    padding-bottom: 0px;
  }
}

.landing img {
  width: 500px;
  margin-left: 100px;
  animation: landingImage 2s linear 0s infinite alternate;
  cursor: none;
}

@media only screen and (max-width: 900px) {
  .landing {
    flex-direction: column-reverse;
    text-align: center;
  }
  .landing img {
    width: 300px;
    margin-left: 0;
  }
}

/* -------------------------------------------------- */

h2 {
  color: black;
  font-size: 45px;
}

h2::after {
  content: ".";
  font-size: 45px;
  font-weight: boldest;
  color: var(--gold1);
}

.services {
  background-color: var(--white1);
  width: 100%;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h2,
.services h3 {
  width: 100%;
  max-width: var(--maxW);
}

.services h3 {
  color: var(--black2);
  font-size: 22px;
}

.servicesContainer {
  max-width: var(--maxW);
  margin-top: 60px;
  display: flex;
}

.servicesContainer article {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  width: 100%;
  padding: 28px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.servicesContainer article:nth-child(2) {
  margin: 0 30px;
}

.servicesContainer img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

.servicesContainer h4 {
  color: var(--gold2);
  font-size: 18px;
  margin: 18px 0 10px 0;
}

.servicesContainer h2 {
  color: white;
  margin-bottom: 5px;
}

.servicesContainer p {
  color: var(--gray2);
  flex-grow: 1;
}

@media only screen and (max-width: 900px) {
  .servicesContainer {
    flex-direction: column;
  }
  .servicesContainer article:nth-child(2) {
    margin: 40px 0;
  }
}

/* -------------------------------------------------- */

.stdButton {
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 8px 8px var(--color_shadow);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: var(--black1);
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
}

/* -------------------------------------------------- */

.recentProjects {
  max-width: var(--maxW);
  width: 100%;
  padding: 100px 30px;
}

.recentProjects h3 {
  color: var(--black2);
  font-size: 22px;
}

.recentProjects > div {
  display: flex;
  margin-top: 60px;
}

.recentProjectDesc {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
  margin-right: 30px;
  width: 380px;
  border-radius: 10px;
}

.recentProjectDesc h2 {
  color: white;
}

.recentProjectDesc h4 {
  color: var(--gold2);
  font-size: 18px;
  margin: 18px 0 10px 0;
}

.recentProjectDesc p {
  color: var(--gray2);
}

div[class^="project"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  padding: 28px 20px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div[class^="project"] h4 {
  font-size: 25px;
  margin-bottom: 5px;
}

div[class^="project"] p {
  font-weight: bold;
}

.project1 {
  background-image: url("../img/background1.jpg");
}

.project2 {
  background-image: url("../img/background2.jpg");
}

@media only screen and (max-width: 700px) {
  .recentProjects > div {
    flex-direction: column;
    margin-top: 50px;
  }
  .recentProjectDesc {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}

/* -------------------------------------------------- */

.satisfiedCustomers {
  background-color: var(--white1);
  width: 100%;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.satisfiedCustomers h2,
.satisfiedCustomers h3 {
  width: 100%;
  max-width: var(--maxW);
}

.satisfiedCustomers h3 {
  color: var(--black2);
  font-size: 22px;
}

.satisfiedCustomers > div {
  width: 100%;
  max-width: var(--maxW);
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.satisfiedCustomers > div > :nth-child(2) {
  margin: 0 60px;
}

*[class^="customer"] {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  width: 100%;
  height: 520px;
  padding: 28px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*[class^="customer"] > div {
  display: flex;
  align-items: center;
  padding: 18px 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}

*[class^="customer"] img {
  --x: 35px;
  width: var(--x);
  height: var(--x);
  margin-right: 18px;
}

*[class^="customer"] h4 {
  color: white;
  font-size: 25px;
}

*[class^="customer"] p {
  color: var(--gray1);
  font-weight: bold;
}

.customer1 {
  background-image: url("../img/first-person.jpg");
}

.customer2 {
  background-image: url("../img/second_person.jpg");
}

.customer3 > img:first-child {
  width: 185px;
  height: auto;
  margin: 15px 0;
}

.customer3 q {
  flex-grow: 1;
  color: rgb(220, 220, 220);
  font-size: 20px;
}

.customer3 div {
  background: transparent;
}

.customer3 div img {
  border-radius: 50%;
  --x: 45px;
  width: var(--x);
  height: var(--x);
  object-fit: cover;
  object-position: 0 0;
}

@media only screen and (max-width: 900px) {
  .satisfiedCustomers h2,
  .satisfiedCustomers h3 {
    text-align: center;
  }
  .satisfiedCustomers > div {
    flex-direction: column;
  }
  .satisfiedCustomers > div > :nth-child(2) {
    margin: 40px 0;
  }
  *[class^="customer"] {
    width: 80%;
    min-height: 320px;
  }
}

/* -------------------------------------------------- */

.contact {
  max-width: 900px;
  margin: 80px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2,
.contact h3 {
  text-align: center;
  margin-bottom: 25px;
}

.contact h3 {
  font-weight: normal;
  font-size: 20px;
  color: var(--black2);
}

.successBar {
  margin-bottom: 25px;
  display: flex;
}

.successBar > div {
  padding: 0 35px;
  display: flex;
  align-items: center;
}

.successBar > div:nth-child(2) {
  border: 2px solid black;
  border-top-style: none;
  border-bottom-style: none;
}

.successBar img {
  --x: 40px;
  height: var(--x);
  width: var(--x);
  margin-right: 15px;
  filter: opacity(80%);
}

.successBar h6 {
  font-size: 17px;
}

.successBar p {
  color: var(--black2);
}

.signup {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.signup h5 {
  font-size: 18px;
  margin-bottom: 12px;
}

.signup label {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.signup span {
  display: block;
  margin-bottom: 12px;
  font-size: 90%;
  font-weight: 700;
}

.signup p {
  margin-bottom: 20px;
  font-size: 80%;
}

.signup input {
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
}

.signup input:focus {
  background-color: rgb(245, 245, 245);
}

.signup [type="submit"] {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}

.signup [type="submit"]:hover {
  color: var(--gold1);
}

@media only screen and (max-width: 700px) {
  .successBar {
    flex-direction: column;
  }
  .successBar > div:nth-child(2) {
    border-style: none;
    margin: 15px 0;
  }
}

/* -------------------------------------------------- */
