* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: white;
}

header {
  background-color: teal;
  padding: 20px;
  color: white;
  text-align: center;
}

nav {
  background-color: aqua;
  padding: 16px 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

li {
  padding: 0 20px;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: teal;
  color: white;
}

footer {
  background-color: teal;
  padding: 15px;
  color: white;
  text-align: center;
}

main,
aside {
  padding: 20px;
}

main {
  width: 60%;
  text-align: center;
}

aside {
  width: 35%;
  text-align: center;
}

.contenedor {
  display: flex;
}

h1,
h2 {
  padding: 10px 0;
}

img {
  max-width: 100%;
}

p {
  padding: 10px;
  text-align: justify;
}
