<div>
  <img src="https://picsum.photos/500" />
  <app-hello-world></app-hello-world>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur aut
    aliquam cupiditate nobis unde ab, maxime vel sed nam repellendus, quae,
    voluptatibus suscipit delectus! Ut eius amet nihil veritatis placeat!
  </p>
  <app-button></app-button>
</div>
