#tercero {
    color: green;
}

p {
    color: blue;
}

.red-text {
    color: red;
}

ul > a {
    color:maroon;
}

ul > li.active + li a {
    text-decoration: none;
}

ul > li.active ~ li {
    background-color: orange;
}

/* pseudo-class */
ul > li:first-child {
    background-color: yellowgreen;
}

/* pseudo-element */
main > p:first-child::first-letter {
    font-size: 30px;
}

/* Elementos que tengan este atributo */
[data] {
    background-color: blue;
}

/* Elementos que tengan este atributo y su valor sea igual este*/
[data='tres'] {
    background-color: blue;
}

/* Elementos en los que el valor del atributo comience con estos carácteres */
input[id^='letter'] {
    border: 1px solid red;
}

/* Elementos en los que el valor del atributo termine con estos carácteres */
input[class$='col2'] {
    border: 1px solid blue;
}

/* Elementos en los que el valor del atributo contenga estos carácteres */
input[id*='letter'] {
    border: 1px solid red;
}

/* Elementos en los que el valor del atributo empiece con esta palabra */
input[class~='field1'] {
    border: 1px solid blue;
}

/* Elementos en los que el valor del atributo termine con esta palabra */
input[class|='field1'] {
    border: 1px solid blue;
}

