<h1>
  Capítulo 2: Que trata de la primera salida que de su tierra hizo el ingenioso
  D. Quijote
</h1>
<p>
  Hechas pues, estas prevenciones, no quiso aguardar más tiempo a poner en
  efecto su pensamiento, apretándole a ello la falta que él pensaba que hacía en
  el mundo su tardanza, según eran los agravios que pensaba deshacer, tuertos
  que enderezar, sinrazones que enmendar, y abusos que mejorar, y deudas que
  satisfacer; y así, sin dar parte a persona alguna de su intención, y sin que
  nadie le viese, una mañana, antes del día (que era uno de los calurosos del
  mes de Julio), se armó de todas sus armas, subió sobre Rocinante, puesta su
  mal compuesta celada, embrazó su adarga, tomó su lanza, y por la puerta falsa
  de un corral, salió al campo con grandísimo contento y alborozo de ver con
  cuánta facilidad había dado principio a su buen deseo. Mas apenas se vió en el
  campo, cuando le asaltó un pensamiento terrible, y tal, que por poco le
  hiciera dejar la comenzada empresa: y fue que le vino a la memoria que no era
  armado caballero, y que, conforme a la ley de caballería, ni podía ni debía
  tomar armas con ningún caballero; y puesto qeu lo fuera, había de llevar armas
  blancas, como novel caballero, sin empresa en el escudo, hasta que por su
  esfuerzo la ganase.
</p>
<p>
  Estos pensamientos le hicieron titubear en su propósito; mas pudiendo más su
  locura que otra razón alguna, propuso de hacerse armar caballero del primero
  que topase, a imitación de otros muchos que así lo hicieron, según él había
  leído en los libros que tal le tenían. En lo de las armas blancas pensaba
  limpiarlas de manera, en teniendo lugar, que lo fuesen más que un armiño: y
  con esto se quietó y prosiguió su camino, sin llevar otro que el que su
  caballo quería, creyendo que en aquello consistía la fuerza de las aventuras.
  Yendo, pues, caminando nuestro flamante aventurero, iba hablando consigo
  mismo, y diciendo: ¿Quién duda sino que en los venideros tiempos, ciando salga
  a luz la verdadera historia de mis famosos hechos, que el sabio que los
  escribiere, no ponga, cuando llegue a contar esta mi primera salida tan de
  mañana, de esta manera? "Apenas había el rubicundo Apolo tendido por la faz de
  la ancha y espaciosa tierra las doradas hebras de sus hermosos cabellos, y
  apenas los pequeños y pintados pajarillos con sus arpadas lenguas habían
  saludado con dulce y meliflua armonía la venida de la rosada aurora que
  dejando la blanda cama del celoso marido, por las puertas y balcones del
  manchego horizonte a los mortales se mostraba, cuando el famoso caballero D.
  Quijote de la Mancha, dejando las ociosas plumas, subió sobre su famoso
  caballo Rocinante, y comenzó a caminar por el antiguo y conocido campo de
  Montiel." (Y era la verdad que por él caminaba) y añadió diciendo: "dichosa
  edad, y siglo dichoso aquel adonde saldrán a luz las famosas hazañas mías,
  dignas de entallarse en bronce, esculpirse en mármoles y esculpirse en
  mármoles y pintarse en tablas para memoria en lo futuro. ¡Oh tú, sabio
  encantador, quienquiera que seas, a quien ha de tocar el ser coronista de esta
  peregrina historia! Ruégote que no te olvides de mi buen Rocinante compañero
  eterno mío en todos mis caminos y carreras." Luego volvía diciendo, como si
  verdaderamente fuera enamorado: "¡Oh, princesa Dulcinea, señora de este
  cautivo corazón! Mucho agravio me habedes fecho en despedirme y reprocharme
  con el riguroso afincamiento de mandarme no parecer ante la vuestra fermosura.
  Plégaos, señora, de membraros de este vuestro sujeto corazón, que tantas
  cuitas por vuestro amor padece."
</p>
<p>
  Con estos iba ensartando otros disparates, todos al modo de los que sus libros
  le habían enseñado, imitando en cuanto podía su lenguaje; y con esto caminaba
  tan despaico, y el sol entraba tan apriesa y con tanto ardor, que fuera
  bastante a derretirle los sesos, si algunos tuviera. Casi todo aquel día
  caminó sin acontecerle cosa que de contar fuese, de lo cual se desesperaba,
  poerque quisiera topar luego, con quien hacer experiencia del valor de su
  fuerte brazo.
</p>
<p>
  Autores hay que dicen que la primera aventura que le avino fue la de Puerto
  Lápice; otros dicen que la de los molinos de viento; pero lo que yo he podido
  averiguar en este caso, y lo que he hallado escrito en los anales de la
  Mancha, es que él anduvo todo aquel día, y al anochecer, su rocín y él se
  hallaron cansados y muertos de hambre; y que mirando a todas partes, por ver
  si descubriría algún castillo o alguna majada de pastores donde recogerse, y
  adonde pudiese remediar su mucha necesidad, vió no lejos del camino por donde
  iba una venta, que fue como si viera una estrella, que a los portales, si no a
  los alcázares de su redención, le encaminaba. Dióse priesa a caminar, y llegó
  a ella a tiempo que anochecía. Estaban acaso a la puerta dos mujeres mozas, de
  estas que llaman del partido, las cuales iban a Sevilla con unos arrieros, que
  en la venta aquella noche acertaron a hacer jornada; y como a nuestro
  aventurero todo cuanto pensaba, veía o imaginaba, le parecía ser hecho y pasar
  al modo de lo que había leído, luego que vió la venta se le representó que era
  un castillo con sus cuatro torres y chapiteles de luciente plata, sin faltarle
  su puente levadizo y honda cava, con todos aquellos adherentes que semejantes
  castillos se pintan.
</p>
