@mixin tablet {
  @media (min-width: $tablet-brk) {
    @content;
  }
}

@mixin tabletLg {
  @media (min-width: $tablet-lg-brk) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-brk) {
    @content;
  }
}
