* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#player {
    width: 500px;
    background-color: gray;
    position: relative;
}

div.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.preview {
    width: 150px;
    height: 100px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 15px;
}

div.preview h5 {
    text-align: center;
    color: white;
}

div.preview:first-child {
    background-image: url('./img/paisaje1.jpeg');
}

div.preview:nth-child(2) {
    background-image: url('./img/paisaje2.jpeg');
}

div.preview:nth-child(3) {
    background-image: url('./img/paisaje3.jpeg');
}

div.preview:nth-child(4) {
    background-image: url('./img/paisaje4.jpeg');
}

div.preview:nth-child(5) {
    background-image: url('./img/paisaje5.jpeg');
}

div.preview:last-child {
    background-image: url('./img/paisaje6.jpeg');
}

footer.controls {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
}

div.overlay {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.overlay i {
    color: red;
    font-size: 50px;
}
