.GameSeriesGallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
}

.GameSeriesGallery__card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 200px;
  padding: 15px 30px;
  margin: 0 50px 80px 50px;
  border: 1px solid mistyrose;
  text-decoration: underline;
}
