@font-face {
  font-family: Balmoral;
  src: url(../../assets/fonts/BalmoralStd.otf) format("opentype");
}

@keyframes rollingBackground {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 2000rem 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

input,
textarea,
select {
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5rem;
  color: rgb(35, 35, 35);
  background-color: lavender;
  background-image: url("../../assets/img/trivialMosaic.svg");
  background-size: 40px 80px;
  background-repeat: repeat;
  animation: rollingBackground 1000s linear 0s infinite;
}

.displayNone {
  display: none !important;
}

@mixin bigContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-bottom: 4rem;
  background-color: white;
  border: 2px solid indigo;
  border-radius: 12px;
  box-shadow: 0px 8px 15px 6px rgba(50, 50, 50, 0.75);
}

@mixin bigButton {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 500;
  background: rgb(76, 174, 67);
  background: linear-gradient(
    90deg,
    rgba(76, 174, 67, 1) 3%,
    rgba(255, 222, 0, 1) 20%,
    rgba(248, 152, 41, 1) 40%,
    rgba(216, 12, 140, 1) 60%,
    rgba(3, 151, 214, 1) 80%,
    rgba(136, 63, 152, 1) 97%
  );
  color: white;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  transition: all 0.5s linear 0s;
  &:hover {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    box-shadow: 0px 9px 9px 7px rgba(50, 50, 50, 0.8);
  }
}

// ----------------------------------------------------------------------

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  background-color: rgb(35, 35, 35);
  .logo {
    width: 50vw;
  }
}

.gameConfig {
  @include bigContainer();
  width: 50rem;
  h1 {
    font-family: "Balmoral";
    font-size: 6rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  label {
    margin-bottom: 2.5rem;
  }
  p {
    margin: 0;
    margin-bottom: 1rem;
  }
  em {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 0.8rem;
  }
  input,
  select {
    width: 10rem;
    padding: 0.4rem;
    border: 1px solid black;
    &:focus {
      border-color: indigo;
    }
    &[type="submit"] {
      @include bigButton();
    }
  }
}

.gameBoard {
  margin-top: 3rem;
  fieldset {
    @include bigContainer();
    width: 90rem;
    max-width: 90rem;
    legend {
      padding: 0.5rem 1rem;
      border: 2px solid indigo;
      border-radius: 50px;
      background-color: thistle;
      font-size: 1.3rem;
      font-weight: bolder;
    }
    p {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-bottom: 0.5rem;
      em {
        text-decoration: underline;
      }
      span {
        padding: 0.6rem 1.2rem;
        margin-right: 2rem;
        border-radius: 50%;
        background: indigo;
        color: white;
        font-size: 0.8rem;
        &::after {
          content: " →";
        }
      }
    }
    label {
      margin-bottom: 2rem;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  input {
    cursor: pointer;
    width: 40rem;
    margin-top: 1rem;
    padding: 0.7rem;
    border: 1px solid indigo;
    border-radius: 500px;
    font-weight: 500;
    background-color: rgb(200, 200, 200);
    &:hover {
      background-color: rgb(225, 225, 225);
    }
  }
}

.solveGameButton {
  @include bigButton();
  opacity: 1;
}

.selectedAnswer {
  background-color: gold !important;
}

.correctAnswer {
  background-color: lime !important;
}

.incorrectAnswer {
  background-color: red !important;
}

.gameResults {
  @include bigContainer();
  margin-top: 3rem;
  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(35, 35, 35);
    text-transform: uppercase;
  }
  p {
    margin-top: 1.5rem;
  }
  strong {
    margin-left: 2rem;
  }
  img {
    width: 1.5rem;
  }
  a {
    display: inline;
    align-self: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 2px solid teal;
    border-radius: 20px 5px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 90, 90);
    background-color: rgb(150, 255, 150);
    &:hover {
      background: rgb(180, 255, 180);
    }
  }
}
