.b-icon{
    color: #FFFFFF;
    font-size: 32px;
    &--sec{
        color: aquamarine;
    }
    &--quaternary{
        color: #333;
    }
    &--third{
        color: aqua;
    }
    &--big{
        font-size: 64px
    }
    &--small{
        font-size: 16px
    }
}